version: "3.9"
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8000:80/tcp"
    environment:
      TZ: ${TIMEZONE:-Europe/Zagreb}
      WEBPASSWORD: ${WEBPASSWORD:-admin}
    volumes:
      - ./data/pihole/conf:/etc/pihole/
      - ./data/pihole/dnsmasq:/etc/dnsmasq.d/
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
